body{
  margin:0;
  padding:0;
}
/*顶部样式*/
.header{
  width:100%;
  height:400px;
  background:url(../img/1.jpg);
  background-position:center 0;
  background-repeat:no-repeat;
  background-color:#47C6BD;
}
/*导航栏样式*/
/*导航栏整体一个大的DIV*/
.dhl{
  width:100%;
  height:60px;
}
/*设定一个固定大小的DIV装5个标签，定位中间*/
.dhl1{
  width:1025px;
  height:54px;
  margin:0 auto;
}
/*标签设定属性*/
.dhl ul{
  margin:0;
  padding:0;
  list-style:none;
}
.dhl1 li{
  float:left;
  width:200px;
  height:54px;
  text-align:center;
  font:15px/54px "微软雅黑";
  margin:0 5px 0 0;
  border-radius:0 0 10px 10px;
}
/*插入五张背景图片*/
.sy{
  background:url("../img/2.png");
}
.jpkc{
  background:url("../img/3.png");
}
.mstd{
  background:url("../img/4.png");
}
.lxwm{
  background:url("../img/5.png"); 
}
.gyne{
  background:url("../img/6.png");
}
/*导航栏的a标签设置样式*/
.dhl1 li a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
  color:white;
}/*导航栏写完*/
/*开始写表格*/
/*表格外面设置了一个大的DIV 包括了表格和右边的简介*/
.bk{
  width:1300px;
  height:550px;
  margin:50px auto;
  position:relative;
}/*给大的DIV设置相对定位*/
/*设置一个小的DIV装表格 使用绝对定位*/
.bg{
  width:600px;
  height:450px;
  border:5px solid #c9c9c9;
  position:absolute;
  left:60px;
  top:40px;
}
/*表格的样式修饰*/
table{
  width:550px;
  height:350px;
  border-collapse:collapse;
  margin-left:20px;
  text-align:center;
}
/*表格的标题有边距*/
.bg h2{
  margin-left:20px;
}
/*表头清除边距，设定颜色*/
.biaotou td{
  background-color:#99ffff;
  border:0;
}
/*简介 创建一个盒子设置绝对定位*/
.jj{
  width:550px;
  height:500px;
  position:absolute;
  right:20px;
  bottom:20px;
}
/*设置三个小盒子相对定位*/
/* .jj l1{
  position:relative;
  width:500px;
  height:300px;
} */
/*去掉UL的小点*/
.jj ul{
  list-style:none;
}
/*盒子里的内容绝对定位定好*/
/*抽取相同样式*/
.x{
  position:absolute;
  left:220px;  
}
.teacher1{
  top:40px;
}
.teacher2{
  top:190px;
}
.teacher3{
  top:340px;
}
/*抽取相同样式*/
.y{
  width:195px;
  height:117px;
  position:absolute;
  left:20px;
}
.jj .pic1{
  top:40px;
}
.jj .pic2{
  top:187px;
}
.jj .pic3{
  top:337px;
}
/*设定特别的字体颜色*/
.blue{
  color:blue;
}
.orange{
  color:orange;
}
/*设定中间部分的样式了*/
/*思路是设定一个大的DIV里面装了三部分，标题，图片，和内容*/
/*先设定大的DIV的样式，使用相对定位*/
.gsjs{
  width:1200px;
  height:400px;
  margin:0 auto;
  position:relative;
}
/*图片角度不好*/
.pic1{
  margin-top:40px;
  margin-left:50px;
}
/*标题样式设定完成，虽然总感觉哪里怪怪的- -、*/
.center1{
  position:absolute;
  width:240px;
  height:100px;
  left:50%;
  margin-left:-120px;
  top:0;
  text-align:center;
  color:#007FD5;
}
/*文字部分的样式*/
.right1{
  right:0;
}
/*标题*/
.right1 h3{
  color:#007FD5;
}
/*文字*/
.right1 li{
  color:#cc99ff;
}
.right1 a{
  background-color:#007FD5;
}
/*a标签*/
.b1 a{
  display:block;
  width:100px;
  height:30px;
  color:white;
  text-decoration:none;
  margin-top:20px;
}
.right2{
  left:0;
}
/*标题*/
.right2 h3{
  color:#FFB43D;
}
/*文字*/
.right2 li{
  color:#FF0099;
}
.right2 a{
  background-color:#FFB43D;
}
.center2{
  position:absolute;
  left:640px;
  top:30px;
}
.a2{
  background-color:#F4F4F4;
}
/*抽取公共样式*/
.b1{
  position:absolute;
  bottom:0;
  width:600px;
  height:280px;
}
.b1 h3{
  text-indent:1em;
}
.b1 li{
  font:16px/200% "宋体";
}
.right3{
  right:0;
}
.right3 h3{
  color:#7F64B5;
}
.right3 li{
  color:#7F64B5;
}
.right3 a{
  background-color:#7F64B5;
}
/*完成中间部分，做好第一个后面复制就好*/
/*底部*/
.dibu{
  width:100%;
  height:50px;
  background:#F4F4F4;
}
/*底部导航栏*/
.dbdh{
  width:400px;
  height:50px;
  margin:0 auto;
}
.dbdh ul{
  list-style:none;
  margin:0;
  padding:0;
}
.dbdh li{
  float:left;
  width:99px;
  height:50px;
  text-align:center;
}
.dbdh a{
  display:block;
  width:100%;
  height:100%;
  background:#ffffcc;
  text-decoration:none;
  font:15px/50px "宋体";
}
.spec{
  border-right:1px solid black; 
}/*底部导航完成*/
/*最后收尾*/
.footer{
  width:1000px;
  height:80px;
  margin:0 auto;
}
.footer p{
  color:#bface6;
  font:20px "微软雅黑";
  text-align:center;
  margin:0;
  padding:0;
}